*{
    padding: 0;
    margin: 0;
}
body{
    background:linear-gradient(90deg,cornflowerblue,rgb(231, 235, 238));

}
h2:hover{
   color: rgb(252, 250, 250);
}

#nav-bar{
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    justify-content: space-between;
    height: 46px;
    border-bottom:1px solid #000;
    background-color: #373636;
}
.nav-left{
    margin-left:30px;
    margin-top:20px ;
    color: #f5efef;
    
}
.nav-right{
    display: flex;
    flex-direction: row;
}
.nav-right button{
   background:none;
   border: none;
   margin-top: 20px;
   margin-right: 25px;
   color: #f5efef;
   cursor: pointer;
   font-size: 14px;
   font-family:Georgia, 'Times New Roman', Times, serif;
}
#home{
    display: flex;
    justify-content: space-evenly;
    margin-top: 200px;
}

.home-right img{
    height: 300px;
    width: 240px;
    border-radius: 40px;
    box-shadow: 2px 2px 5px rgb(239, 238, 238);
}
.home-right img:hover{
    border: 1px solid;
    border-color: rgb(95, 147, 236);
    
}
.home-left{
    width: 700px;
    border: 2px solid rgb(179, 216, 251);
    border-radius: 20px;
    box-shadow: 2px 2px 5px  rgb(239, 238, 238);
    text-align:justify;
}
.home-left p{
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    padding-top: 35px;
    line-height: 26px;
}
.home-left p b:hover{
    color: #ece8ef;
    cursor: pointer;
}
#skills{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}
.problem-solving{
    height: 350px;
    width: 480px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgb(239, 238, 238);   
}
.problem-solving:hover{
    border: 2px solid white;
}

.prog-lang{
    height: 350px;
    width: 480px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgb(239, 238, 238);
}
.prog-lang:hover{
     border: 2px solid white;
}
.web-dev{
    height: 350px;
    width: 480px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgb(239, 238, 238); 
}
.web-dev:hover{
  border: 2px solid white;
}
.education{
    height: 380px;
    width: 900px;
    border-radius: 20px;
    margin-left: 300px;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 2px 2px 5px 3px rgb(239, 238, 238);
}
.education:hover{
    border: 1px solid white;
}

.edu-left{
    margin-top: 100px;
    font-size: 18px;
}
.inter{
    margin-top: 30px;
}
.school{
    margin-top: 30px;
}
.edu-right{
    margin-top: 100px;
    font-size: 18px;
}
.edu-right p{
    margin-top: 50px;
}
.projects{
    height: 500px;
    width: 1200px;
    box-shadow: 2px 2px 5px 3px rgb(239, 238, 238);
    border-radius: 20px;
    margin-left: 150px;
    margin-top: 30px;
}
.projects:hover{
    border: 1px solid white;
}
.rag{
    display: flex;
    justify-content: space-around;
}
.rag-left{
    padding: 20px;
    padding-top: 60px;
    font-size: 18px;
    text-align: justify;
    line-height: 25px;
}
.rag-right{
    padding: 20px;
}
.rag-right img{
    border-radius: 10px;
}

.contact{
    height: 400px;
    width: 600px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 3px rgb(239, 238, 238);
    margin-left: 440px;
    margin-top: 30px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}

.contact:hover{
    border: 1px solid white;
}
.con-left{
    margin-top: 120px;
}
.con-left a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
}
.con-left a:hover{
    color:white;
}
.con-right{
    margin-top: 120px;
    padding-left: 20px;
}
.con-right img{
    height: 40px;
    width: 40px;
    border-radius: 10px;
}

.con-right img:hover{
     box-shadow: 2px 2px 5px 3px rgb(239, 238, 238);
}